.App {
 
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-instructions-container {
  min-height: 3vh;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #282c34;
}

.App-list-container {
  padding-top: 1vh;
  margin-top: 5vh; 
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}




